.landing-page {
    @include fill-parent();

    section {
      padding-bottom: 20px;
      border-bottom: 2px dashed $blue;

      &:first-child {
      }

      &:last-child {
        border-bottom: none;
      }
    }
}

.tickets {
  p {
    text-align: center;
  }
  .button {
    background-color: $secondary-color;
    border: none;
    display: inline-block;
    line-height: 1rem;
    color: #111;
    padding: 20px;
    font-weight: bold;

    &:hover {
      background-color: darken($secondary-color, 15%);
    }
  }
}

.schedule {
  .timeslot {
    h3, h4 {
      margin-top: 0
    }

    h4 {
      color: $tertiary-color;
    }

    border-bottom: 1px dashed $blue;
    padding-top: 10px;

    .img {
      font-size: 2rem;
    }
    @include outer-container;

    @include media($mobile) {
      .time {
        @include fill-parent;
      }
      .img {
        @include fill-parent;
      }
      .info {
        @include fill-parent;
      }
    }

    @include media($tablet) {
      .time {
        @include span-columns(3 of 10);
      }
      .img {
        @include span-columns(1 of 10);
      }
      .info {
        @include span-columns(6 of 10);
        @include omega;
      }
    }
  }
}

.photo-credit {
  font-weight: normal;

  a {
      color: $secondary-color;

      &:hover {
          color: darken($secondary-color, 10%);
      }
  }
}

.event-info {
    h2, h3, h4, h5 {
      color: white;
    }
    .date {
        font-size: 3rem;
        margin: 25px;
    }
    .location {
        font-size: 2.5rem;
        margin: 25px;
    }
    .venue {
        font-size: 2rem;
        margin: 25px;
    }
}

.venue-info {
  .map {
    @include media($mobile) {
      display: none;
    }
    @include media($tablet) {
      display: block;
    }
    text-align: center;
  }
}

.mailing-list-signup {
    h2, h3, h4, h5 {
      color: white;
    }
    @include fill-parent();
    margin: 40px auto;
    .signup-info {
    }
    .button {
        background-color: $secondary-color;
        border-radius: none;
        border: none;
        display: inline-block;
        line-height: 1rem;
        color: #111;
        height: 2.5rem;
        min-width: 28%;

        &:hover {
            background-color: darken($secondary-color, 15%);
        }
    }
    .email {
        width: 70%;
        height: 2.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.sponsors {
  .sponsor-level {
    border-bottom: 1px dashed $blue;

    &:last-child {
      border-bottom: none;
    }
  }

  .sponsor {
    max-width: 500px;
    max-height: 300px;
  }
}

.speakers {
  ul {
    margin-left: 0;
    li {
      display: inline-block;
      list-style: none;
      padding-right: 15px;
    }
  }
}

.speaker-img-small {
  border-radius: 50%;
  max-width: 75px;
  max-height: 75px;
}

.accommodations {
  h3 {
    color: $tertiary-color;
  }

  p {
    margin: 0;
  }
  .accommodation-types {
    @include outer-container;

    @include media($mobile) {
      .hotels {
        @include fill-parent;
      }
      .bnb {
        @include fill-parent;
      }
    }

    @include media($tablet) {
      .hotels {
        @include span-columns(5 of 10);
      }
      .bnb {
        @include span-columns(5 of 10);
        @include omega;
      }
    }
  }

  .name {
    margin-bottom: 0;
  }
  .phone, .contact{
    margin: 0;
  }
  h4 {
    text-align: left;
  }
  ul {
    li {
    }
  }
}
