.speakers {
  .speaker-img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
  }

  .speaker {
    border-bottom: 2px dashed $blue;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .talk-title {
      color: $tertiary-color;
    }
  }

  .blurb {
    font-weight: normal;
  }
}
