$table-bg: rgba(255,255,255, 0.8);
$table-header-bg: #999;
$table-text: #111;
$light-color: #FCBD3D;

.sponsorship {
  .reasons {
    li {
      text-align: left;
      line-height: 2em;
    }
  }
  .sponsorship-table {
    background-color: $table-bg;
    color: $table-text;
  }

  th, td {
    color: $table-text;
    padding: 10px;
  }

  th {
    background-color: $table-header-bg;
  }

  td {
    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    text-align: left;
    border: 1px solid $table-header-bg;

    &.level {
      font-weight: bold;
    }
  }
}
