---
title: About | Erie Day of Code
---

.about
  %h1 About Erie Day of Code
  %p.description
    %p
      %strong Come join us for the first Erie Day of Code event!
    %p
      Erie Day of Code is a one-day event taking place on Saturday, April 25th from 9am - 4pm for web developers, computer scientists, and overall tech enthusiasts! Through a series of talks, workshops, and open discussions we intend to teach and learn about the progression of web development not only in Erie, but globally.
    %p
      Our main goal is to build an army of geeks to take over the world! Just kidding! Though, that does sound fun...anyways! Our main goals are to build awareness about the development scene in Erie and build a strong community of web enthusiasts. The only way to do that is to hear and learn from you!
    %p
      Come join us on Saturday, April 25th from 9am - 4pm and see what Erie Day of Code is all about!
    %p
      We really hope to see you!