---
title: The Brewerie at Union Station | Erie Day of Code
---

.venue-info
  %h1.venue The Brewerie at Union Station
  %p.description
    Join us at
    %a{:href => "http://www.brewerie.com", :target => "blank"} The Brewerie
    in historic Union Station in downtown Erie!
  %p
    First built in 1865, Union Station was rebuilt in Art Deco style in 1927 and reopened to the public.
    %a{:href => "http://en.wikipedia.org/wiki/Union_Station_%28Erie,_Pennsylvania%29", :target => "blank"}
      %sup 1
    The charming rotunda hosted the Union News stand, and many merchants including a soda fountain and barbershop.
    %a{:href => "http://www.brewerie.com/history.html", :target => "blank"}
      %sup 2
    The Brewerie currently resides in the old rotunda, serving up craft beer, delicious food, and a charming atmosphere.
  %p
    With it's central location, charming atmosphere, and rich history, we can't imagine a better place to host Erie Day of Code!
  .image
    %img{:alt => "The Brewerie", :height => "100%", :src => "images/TheBrewerie.jpg", :width => "100%"}/