---
title: Venue | Erie Day of Code
---

%p Join us at #{link_to('The Brewerie', 'http://www.brewerie.com', target: '_blank')} in historic Union Station in downtown Erie!
%p>
  First built in 1865, Union Station was rebuilt in Art Deco style in 1927 and reopened to the public.
  %a{ href: 'http://en.wikipedia.org/wiki/Union_Station_%28Erie,_Pennsylvania%29', target: "_blank" }
    %sup> 1
  The charming rotunda hosted the Union News stand, and many merchants including a soda fountain and barbershop.
  %a{ href: 'http://www.brewerie.com/history.html', target: "_blank" }
    %sup> 2
  The Brewerie currently resides in the old rotunda, serving up craft beer, delicious food, and a charming atmosphere.
%p
  With its central location, charming atmosphere, and rich history, we can't imagine a better place to host Erie Day of Code!

%p
  The Brewerie offers a great meal selection and will be catering the included lunch for the event.
  If you've never eaten at The Brewerie you're in for a treat!

= image_tag 'the-brewerie.jpg'
